.content-wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  min-height: 200px;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.thumbnails {
  margin-top: 1rem;
}
.pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
  .pc {
    display: block;
  }
  .slider-img {
    height: 50%;
  }
}

@media screen and (max-width: 700px) {
  .thumbnails {
    position: relative;
  }

  .thumbnails img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
  }

  .play-icon {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .player-wrapper {
    width: 100%;
    overflow: hidden;
  }
}

@media screen and (width > 700px) {
}
