.footer-wrapper {
  border:1px solid white;
  background-color: #000;
  position:fixed;
  bottom:0;
  left: 0;
  width:100%;
  z-index:900;
  text-align: center;
}

.footer-wrapper h1 {
  font-size: 1rem;
  font-weight: 400;
  color: #a0a09f;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0.5rem;
}
.social-media{
  color:#a0a09f;
  display: flex;
  justify-content: center;
  align-items: center;
  height:3rem;
}
.social-media > *{
  margin: 1rem;
  font-size: 1.6rem;
}
a{
  color:#a0a09f
}

@media screen and (min-width:700px){
  .footer-wrapper{
    position:static;
    border:none;
    width:50%;
    margin:auto;
  }
}